* { 
	margin:0; padding:0; 
}
			
body {
	text-align: center;
	font-family: Georgia, Serif;
	font-style: italic;
	font-size: 19px;
	line-height: 1.5em;
	margin-top: 4%;
	background: #eaeaea;
}

label {
	display: block;
	float: left;
	width: 30em;
}

hr {
	border:0;
	border-bottom: 1px dotted #ccc;
	margin: 1em 0;
}

#container {
	text-align: left;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.question {
	position: absolute;
	display: inline;
	text-align: center;
	width: 174px;
	height: 78px;
	font-size: 13px;
	line-height: 1.5em;
	background: url('images/bubble.png') left top no-repeat;
	padding: 10px 0 0 0;
	text-shadow: 0px 1px 0px #fff;
	margin-left: -7em;
	margin-top: -6em;
	opacity: 0;
}

.yes, .cancel {
	margin-top: .5em;
	margin-right: .5em;
	cursor: pointer;
	display: inline-block;
	width: 63px;
	height: 21px;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	background: url('images/button.png') left top no-repeat;
}

.title {
	font-size: 30px;
	margin-bottom: 1.5em;
	font-weight: bold;
	font-style: italic;
	text-shadow: 0px 2px 0px #fff;
}

a, a:visited, a:hover {
	text-decoration: none;
	color: #000;
}